<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/screen.css">
    
    <!-- Load name generator script -->
    <script src="/js/namegen.js"></script>
    
    <!-- Load Alpine.js -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
    <div x-data="{
        currentName: '',
        showFullName: false,
        
        generateName() {
            this.currentName = this.showFullName 
                ? NameGenerator.getRandomFullName()
                : NameGenerator.getRandomFirstName();
        }
    }">
        
        {{ content }}
    </div>
</body>
</html>